HELP.md
target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/*
!.settings/org.eclipse.jdt.ui.prefs
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles
!.idea/copyright
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### migration tools ###
spring-boot-migrator.log
/.rewrite-cache/
/.flattened-pom.xml
